/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Header
	#Navigation
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face 
	#Slider 
	#Contact Form*/

/* #Header
================================================== */

#header { border-bottom: 1px solid #E3E3E8; margin-bottom: 30px; }
h1 a { text-indent: -9999px; }
#site-title { padding-top: 20px; }

/* #Navigation
================================================== */

#main-nav { float: right; }
#main-nav ul, #main-nav li { list-style: none; padding: 0; margin: 0; display: inline; } 
#main-nav ul li { float: left; position: relative; }
#main-nav ul li a { display: inline-block; padding: 48px 10px 48px 10px; margin: 0 5px; text-decoration: none; font-size: 14px; border-bottom: 3px solid transparent; }
#main-nav ul li:hover { border-bottom: 3px solid #0000C1 !important; }
.current { font-weight: bold !important; color: #444 !important; border-bottom: 3px solid #0000C1 !important; }


/* #Site Styles
================================================== */

a, a:visited { text-decoration: none; color: #0000C1; transition: color 0.3s linear; -moz-transition: color 0.3s linear; -webkit-transition: color 0.3s linear; -o-transition: color 0.3s linear; }
a:hover { color: #003c67; }

h1, h2, h3, h4, h5, h6 { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #003c67; font-weight: bold; }
h1 { font-size: 28px; line-height: 32px; color: #4C5B5C; }
h2 { font-size: 20px; line-height: 22px; color: #5e7071; margin: 0 0 20px 0; }
h3 { font-size: 16px; line-height: 20px; color: #5e7071; }
h4 { font-size: 14px; line-height: 18px; color: #5e7071; }
h5 { font-size: 12px; line-height: 18px; color: #5e7071; }
h6 { font-size: 10px; line-height: 16px; color: #5e7071; }

.rounded { background: #003c67; -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; display: inline-block; width: 40px !important; height: 40px; color: white; text-align: center; vertical-align: middle; font-size: 20px; line-height: 40px; margin-right: 5px; }

.overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; -moz-opacity: 0; filter: alpha(opacity=0); -webkit-transition: opacity 180ms ease-in-out; -moz-transition: opacity 180ms ease-in-out; -o-transition: opacity 180ms ease-in-out; transition: opacity 180ms ease-in-out; z-index: 40; }
.overlay.zoom { background: url(../images/overlay-bg.png) no-repeat center center; }
.overlay:hover { opacity: 1; -moz-opacity: 1; filter:alpha(opacity=100); }

.feature-column h4 a { color: #003c67; text-decoration: none; }
.feature-column h4 a:hover { color: #012037; }

.featured-image { position: relative; margin-bottom: 10px; }

.tagline { font-size: 1.7em; padding: 0.8em 0; margin: 1em 0 1em 0; text-align: center; font-style: italic; letter-spacing: 0px; line-height: 1.6em; clear: both; }
.tagline strong { color: #2C88C9; }

section.container { padding: 1.2em 0; }

.recent-posts, .recent-posts h4 { margin-bottom: 20px; }

blockquote.testimonial { position: relative; padding: 20px 46px 20px 50px; border-left: none; display: block; letter-spacing: 0px; }
.sidebar-widget blockquote.testimonial { padding: 0px 0px 20px 0px; }
blockquote.no-after::before, blockquote.no-after::after { content:''; }

blockquote cite { position: absolute; right: 50px; text-align: right; bottom: 0; line-height: 1em; text-transform: uppercase; color: #999; font-style: normal; font-size: 11px; }

blockquote::before, blockquote::after { content: '\201C'; font-size: 100px; position: absolute; top: 0px; left: 0px; line-height: 1em; font-family: Georgia, "Times New Roman", serif; font-style: italic; color: #DDD; padding-right:20px; }


footer {background: #DBFE81; border-top: 1px solid #91CC00; }
#footer-base { background: #000085; font-size: 0.9em; font-style: italic; color: #DBFE81; padding: 0.8em 0; }
#footer-base a { color: #DBFE81; }
#footer-base a:hover { color: #EEE; }

.footer-columns { padding: 20px 0; }
.social a { text-decoration: none; font-size: 1.2em; color: #003c67; }
.social a:hover { color: #2c88c9; }

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/*  Contact Form
    ------------------------------------------------------- */


#contact h1 { margin: 10px 0 10px; font-size: 24px; color: #333333; }
#contact hr { color: inherit; height: 0; margin: 6px 0 6px 0; padding: 0; border: 1px solid #d9d9d9; border-style: none none solid; }

#contact { display: block; width: 650px; margin: 50px auto; padding: 35px; border: 1px solid #cbcbcb; background-color: #FFF; -webkit-border-radius:5px;  }

/* Form style */

#contact label { display: inline-block; float: left; height: 26px; line-height: 26px; width: 155px; font-size: 1.5em; -webkit-border-radius:5px; }
#contact input, textarea, select { width: 280px; margin: 0; padding: 5px; color: #666; background: #f5f5f5; border: 1px solid #ccc; margin: 5px 0; webkit-border-radius:5px; }
#contact input:focus, textarea:focus, select:focus { border: 1px solid #999; background-color: #fff; color:#333; }
#contact input.submit { width: 85px; cursor: pointer; border: 1px solid #222; background:#333; color:#fff; }
#contact input.submit:hover { background:#444; }
#contact input[type="submit"][disabled] { background:#888; }
#contact fieldset { padding:20px; border:1px solid #eee; -webkit-border-radius:5px; -moz-border-radius:5px; }
#contact legend { padding:7px 10px; font-weight:bold; color:#000; border:1px solid #eee; -webkit-border-radius:5px; -moz-border-radius:5px; margin-bottom:0 !important; margin-bottom:20px; }

#contact span.required{ font-size: 13px; color: #ff0000; } /* Select the colour of the * if the field is required. */

.verify-this, input[type="text"] .verify-this { display: inline !important; }

#message { margin: 10px 0; padding: 0; }

.error_message { display: block; height: 22px; line-height: 22px; background: #FBE3E4 url('../assets/error.gif') no-repeat 10px center; padding: 3px 10px 3px 35px; color:#8a1f11;border: 1px solid #FBC2C4; -webkit-border-radius:5px; }

.loader { padding: 0 10px; }

#contact #success_page h1 { background: url('../assets/success.gif') left no-repeat; padding-left:22px; }

acronym { border-bottom:1px dotted #ccc; }

#table format
.CSSTableGenerator {
	margin:0px;
	padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #ffffff;
	
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}.CSSTableGenerator table{
	word-wrap: break-word;
	table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:5px 0px 30px 0px;
	padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#e5e5e5; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#eeeeee; }.CSSTableGenerator td{
	vertical-align:middle;
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:10px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #9a999b 5%, #9a999b 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9a999b), color-stop(1, #9a999b) );
	background:-moz-linear-gradient( center top, #9a999b 5%, #9a999b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#9a999b", endColorstr="#9a999b");	background: -o-linear-gradient(top,#9a999b,9a999b);
	background-color:#9a999b;
	border:0px solid #ffffff;
	text-align:left; 
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #9a999b 5%, #9a999b 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9a999b), color-stop(1, #9a999b) );
	background:-moz-linear-gradient( center top, #9a999b 5%, #9a999b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#9a999b", endColorstr="#9a999b");	background: -o-linear-gradient(top,#9a999b,9a999b);

	background-color:#9a999b;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

#cy {
  height: 470px;
  width: 100%;
  position: relative;
  left: 0;
  background-color: #F7F7FF;
  border: 1px solid #ccc;
}

#cybig {
  height: 800px;
  width: 100%;
  position: relative;
  left: 0;
  background-color: #F7F7FF;
  border: 1px solid #ccc;
}


#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}

.statusACTIVE h1 {
	color:#91CC00;
	text-align:center;
	border:1px solid #91CC00;
}
.statusINACTIVE h1 {
	color:#CC0017;
	text-align:center;
	border:2px solid #CC0017;
}

